<a href="https://colab.research.google.com/github/thrivenid88/DataScience-2023/blob/main/Untitled23_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Open function to open the file "MyFile1.txt"
# (same directory) in append mode and 
# store its reference in the variable file1
# and "MyFile2.txt" in D:\Text in file2
file2 = open(r"/content/drive/MyDrive/DWSample1-TXT (1).txt","w+")
file2

In [ ]:
# Opening and Closing a file "MyFile.txt"
# for object name file1.
file2 = open("/content/drive/MyDrive/DWSample1-TXT (1).txt","a")
file2

In [ ]:
import pandas as pd 
import numpy as np
file2=pd.read_table("/content/drive/MyDrive/text.csv")
file2

             Utilitatis causa amicitia est quaesita.
0  Lorem ipsum dolor sit amet, consectetur adipis...
1  Quamquam id quidem licebit iis existimare, qui...

In [ ]:
import pandas as pd
import numpy as np
file2=pd.read_json("/content/drive/MyDrive/bank.json")
file2

    _id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0      ID12101,48,,INNER_CITY,17546.0,,1,,NO,NO,NO,YES
1    ID12102,40,MALE,TOWN,30085.1,YES,3,,NO,YES,YES,NO
2     ID12103,51,FEMALE,INNER_CITY,,,0,YES,YES,YES,,NO
3       ID12104,23,,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4          ID12105,57,FEMALE,RURAL,,,0,NO,YES,NO,NO,NO
..                                                 ...
595  ID12696,61,FEMALE,INNER_CITY,47025.0,,2,YES,,,...
596  ID12697,30,FEMALE,INNER_CITY,9672.25,YES,0,YES...
597  ID12698,,FEMALE,TOWN,15976.3,YES,0,YES,,NO,NO,YES
598  ID12699,29,MALE,INNER_CITY,14711.8,YES,0,,YES,...
599         ID12700,,,,26671.6,NO,0,YES,NO,YES,YES,YES

[600 rows x 1 columns]

In [ ]:
import pandas as pd
import numpy as np
file2=pd.read_csv("/content/drive/MyDrive/iris_csv.csv")
file2

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
file2.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class'], dtype='object')

In [ ]:
file2.shape

(150, 5)

In [ ]:
aveglength=file2['petallength'].mean()
print('average of petal length',aveglength)

average of petal length 3.758666666666666

In [ ]:
avgwidth=file2['petalwidth'].mean()
print("average of npetal width",avgwidth)

average of npetal width 1.1986666666666668

In [ ]:
from pandas.api.types import is_numeric_dtype

for col in file2.columns:
    if is_numeric_dtype(file2[col]):
        print('%s:' % (col))
        print('\t Mean = %.2f' % file2[col].mean())
        print('\t Standard deviation = %.2f' % file2[col].std())
        print('\t Minimum = %.2f' % file2[col].min())
        print('\t Maximum = %.2f' % file2[col].max())

sepallength:
	 Mean = 5.84
	 Standard deviation = 0.83
	 Minimum = 4.30
	 Maximum = 7.90
sepalwidth:
	 Mean = 3.05
	 Standard deviation = 0.43
	 Minimum = 2.00
	 Maximum = 4.40
petallength:
	 Mean = 3.76
	 Standard deviation = 1.76
	 Minimum = 1.00
	 Maximum = 6.90
petalwidth:
	 Mean = 1.20
	 Standard deviation = 0.76
	 Minimum = 0.10
	 Maximum = 2.50

In [ ]:
for col in file2.columns:
  if is_numeric_dtype(file2[col]):
    Minimum=file2[col].min()
    Maximum=file2[col].max()
avg=(Minimum+Maximum)/2
print(avg)

1.3

In [ ]:
threshold=avg*1.3
filtered_rows=file2[file2["petallength"]>threshold]
print(filtered_rows)

     sepallength  sepalwidth  petallength  petalwidth           class
5            5.4         3.9          1.7         0.4     Iris-setosa
18           5.7         3.8          1.7         0.3     Iris-setosa
20           5.4         3.4          1.7         0.2     Iris-setosa
23           5.1         3.3          1.7         0.5     Iris-setosa
24           4.8         3.4          1.9         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[106 rows x 5 columns]